<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-18">
    <section class="info">
      <h2>
        <%= "Hi #{@user.name}, welcome to storm events reporter!" %>
      </h2>
    </section>
  </aside>
</div>