<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-18">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= "Hi #{@user.name}, welcome to storm events reporter!" %>
      </h1>
    </section>
  </aside>
</div>