<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This website is dedicated to listing the recent Storm Events throughout the United States.

  Storm Event Reporter is system to list all the storm events in the United States. The system can be used by the weathermen to update the recent events as and when they receive the updates from their sources. Also, the system can be used by the general population to keep track of the events around them. The system provides a way for the admin to login and update the data, and for others to view the updated values.
  
  <p>Developed by Kishan Hulkodu Sheshagiri</p>
</p>