<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <div>
    <strong>Episode: </strong>Collection of related events.
  </div>
  <div>
    <strong>Event: </strong>The occurrence of storms and other significant weather phenomena having sufficient intensity to cause loss of life, injuries, significant property damage, and/or disruption to commerce.  Rare, unusual, weather phenomena that generate media attention, such as snow flurries in South Florida or the San Diego coastal area; and Other significant meteorological events, such as record maximum or minimum temperatures or precipitation that occur in connection with another event.
  </div>
  <div>
    <strong>Damages: </strong>The estimated amount of damage to property incurred by the weather event.  (e.g. 10.00K = $10,000)
  </div>
  <div>
    <strong>Episode Narrative: </strong>The episode narrative depicting the general nature and overall activity of the episode.  The narrative is created by NWS.)
  </div>
  <div>
    <strong>Event Narrative: </strong>The event narrative provides more specific details of the individual event .  The event narrative is provided by NWS.
  </div>
  <div>
    <strong>Magnitude Type: </strong>Ex: EG, MS, MG, ES <br>
    EG = Wind Estimated Gust; ES = Estimated Sustained Wind; MS = Measured Sustained Wind; MG = Measured Wind Gust (no magnitude is included for instances of hail)
  </div>
  <div>   
</p>