<div class="center jumbotron">
  <% provide(:title, "Home") %>
  <h1>Storm Event Reporter</h1>
  <h2>
    <p>
      This is the home page for the Storm Event reporter.
    </p>
  </h2>
  <%= link_to "Checkout the Episodes!", episodes_path, class: "btn btn-lg btn-primary" %>
</div>