<div class="center jumbotron">
  <% provide(:title, "Home") %>
  <h1>Welcome to the storm events reporter!!</h1>
  <h2>
    <p>
      You can find the list of all recent weather episodes by clicking <%= link_to "here", episodes_path %>.
    </p>
  </h2>
  <%= link_to "Admin? Click here!", login_path, class: "btn btn-lg btn-primary" %>
</div>