<footer class="footer">
  <small>
    The Storm Event Report project by Kishan Hulkodu Sheshagiri for CSCE608 Database Systems.
  </small>
  <nav>
    <ul>
      <li><%= link_to "National Weather Services", "https://www.ncdc.noaa.gov/stormevents/" %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Github", "https://github.tamu.edu/kishan-sheshagiri/storm-events", target: :_blank %></li>
    </ul>
  </nav>
</footer>